.widget_wpc_filters_widget {
    @include min1024 {
        position: sticky !important;
        top: var(--padding_m);
        z-index: 1000;
    }

    .admin-bar & {
        @include min1024 {
            top: 32px;
        }
    }
}

body main .wpc-filters-open-button-container a.wpc-filters-open-widget, 
body main .wpc-filters-open-button-container a.wpc-open-close-filters-button {
    all: unset;

    .wpc-icon-html-wrapper {
        display: none !important;
    }
}

body main .wpc-filters-open-button-container a.wpc-open-close-filters-button {
    background-color: var(--color_secondary);
    display: flex;
    align-items: center;
    gap: var(--gap_xs);
    border-radius: var(--radius);
    color: var(--color_white);
    line-height: 1;
    cursor: pointer;
    font-size: var(--font_size_p1);
    padding: var(--padding_xs);

    &::before {
        color: var(--color_white);
        font-size: 24px;
        margin: -4px 0;
        position: relative;
    }

    &.wpc-opened {
        @include mobile {
            margin-bottom: var(--padding_s);
        }
    }
}

body main .wpc-custom-selected-terms {
    ul.wpc-filter-chips-list {
        all: unset;

        li.wpc-filter-chip {
            margin: 0 0 var(--gap_s);

            &.wpc-chip-reset-all {
                a {
                    all: unset;
                    color: var(--color_black);
                    font-size: var(--font_size_p2);
                    cursor: pointer;
        
                    &:hover {
                        color: var(--color_primary);
                    }
                }
            }
        }
    }

    .wpc-filter-chip:not(.wpc-chip-reset-all) {
        display: none !important;
    }
}

body main .widget_wpc_filters_widget {

    margin: 0;

    .wpc-filters-main-wrap .wpc-filter-title,
    .wpc-filters-main-wrap ul.wpc-filters-ul-list,
    .wpc-filters-main-wrap li.wpc-term-item label,
    .wpc-filters-main-wrap li.wpc-term-item,
    .wpc-filters-main-wrap .wpc-filters-section,
    .wpc-filters-main-wrap .wpc-filters-widget-wrapper {
        all: unset;
    }

    .wpc-filters-main-wrap {

        .wpc-filters-widget-wrapper,
        .wpc-filters-section,
        ul.wpc-filters-ul-list {
            display: flex;
            flex-direction: column;
            gap: var(--gap_s);
        }

        .wpc-filters-widget-wrapper {
            border: 1px solid var(--color_white);
            border-radius: var(--radius);
            gap: 0;
        }

        .wpc-checkbox-item {
            .wpc-term-item-content-wrapper {
                @include checkbox;

                text-transform: lowercase;

                *::first-letter {
                    text-transform: uppercase;
                }

                input[type=checkbox] + label {
                    &::before {
                        top: -1px;
                    }
                }
            }
        }

        .wpc-filters-section {
            padding: var(--padding_s);
            
            &:not(:last-child) {
                border-bottom: 1px solid var(--color_white);
            }
        }

        .wpc-filter-header {
            font-size: var(--font_size_h5);
            font-weight: bold;
        }

        .wpc-edit-filter-set {
            padding: var(--padding_s);
            border: 1px solid var(--color_white);
            border-radius: var(--radius);
            margin-top: var(--padding_s);

            a {
                color: var(--color_black);

                &:hover {
                    color: var(--color_primary);
                }
            }
        }

        .wpc-instead-of-posts-found {
            &:empty {
                display: none !important;
            }
        }
    }
}

@include max1024 {
    .wpc_show_bottom_widget .wpc-filters-open-button-container, 
    .wpc_show_open_close_button .wpc-filters-open-button-container {
        display: block;
    }

    body.wpc_show_open_close_button main .wpc-filters-widget-content:not(.wpc-opened) {
        display: none !important;
    }
}

@include tablet-p {
    .wpc-filters-widget-content.wpc-opened {
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 9999;
        width: 35vw;
        background-color: var(--color_white);
        border-radius: var(--radius);
        overflow: hidden;
        padding: var(--padding_s);
        border: 1px solid var(--color_white);
        margin-top: var(--padding_m) !important;
        border: 1px solid var(--color_primary);
    }
}

.wpc-term-disabled {
    display: none !important;
}