select {
    background-image: url("data:image/svg+xml;utf8,<svg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6.40002 7.79998C6.20002 8.06665 5.80002 8.06665 5.60002 7.79998L0.100908 0.800001C-0.146306 0.470383 0.0888849 4.98756e-07 0.500908 4.80746e-07L11.4991 0C11.9111 -1.80101e-08 12.1463 0.470382 11.8991 0.8L6.40002 7.79998Z' fill='%23020202'/></svg>");
}

.woocommerce-ordering .select-wrapper .select-list li::before {
    content: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M19 8.20866C18.9996 8.2741 18.9862 8.3388 18.9604 8.39895C18.9346 8.4591 18.8971 8.51348 18.85 8.55888L10.71 16.704C10.617 16.7978 10.5064 16.8722 10.3846 16.923C10.2627 16.9738 10.132 17 10 17C9.86799 17 9.73728 16.9738 9.61542 16.923C9.49356 16.8722 9.38296 16.7978 9.29 16.704L5.15 12.5614C5.10291 12.516 5.06537 12.4616 5.03961 12.4015C5.01385 12.3413 5.00038 12.2766 5 12.2112C5.00033 12.076 5.05428 11.9464 5.15 11.851L5.85 11.1505C5.89648 11.1036 5.95178 11.0664 6.01271 11.041C6.07364 11.0156 6.13899 11.0025 6.205 11.0025C6.27101 11.0025 6.33636 11.0156 6.39729 11.041C6.45822 11.0664 6.51352 11.1036 6.56 11.1505L10 14.5927L17.44 7.14799C17.4865 7.1011 17.5418 7.06388 17.6027 7.03848C17.6636 7.01308 17.729 7 17.795 7C17.861 7 17.9264 7.01308 17.9873 7.03848C18.0482 7.06388 18.1035 7.1011 18.15 7.14799L18.85 7.84843C18.9457 7.94388 18.9997 8.07344 19 8.20866Z' fill='white'/></svg>");
}

@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.ttf?fbbzoh') format('truetype'),
         url('../fonts/icons.woff?fbbzoh') format('woff'),
         url('fonts/icons.svg?fbbzoh#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon-nova_poshta_billing::before,
.icon-nova_poshta_shipping::before,
.product-summary-box::before,
.section-single-vacancie .content ul li::before,
.offers .item::before,
.wp-block-list li::before,
.select2-container .select2-selection .select2-selection__arrow::before,
.wc-ukr-shipping-np-fields .select2-selection__rendered::before,
label[for="payment_method_bacs"]::before,
label[for="payment_method_cod"]::before,
label[for*=local_pickup]::before,
label[for*=ukrposhta]::before,
label[for*=nova_poshta]::before,
.remove::before,
.file-placeholder::before,
.button-product-view::before,
.owl-next::before,
.owl-prev::before,
.wpc-open-close-filters-button::before,
input[type="checkbox"]:checked+span:before,
input[type="checkbox"]:checked+label:before,
.order-status::before,
.woocommerce .show-password-input::before,
[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 24px;
    color: var(--text_color);
}

.section-single-vacancie .content ul li::before,
.offers .item::before,
.wp-block-list li::before {
    color: var(--color_primary);
}

.icon-arrow-chevron-d-24:before {
    content: "\e900";
}

.icon-arrow-chevron-double-d-24:before {
    content: "\e901";
}

.icon-arrow-chevron-double-l-24:before {
    content: "\e902";
}

.icon-arrow-chevron-double-r-24:before {
    content: "\e903";
}

.icon-arrow-chevron-double-u-24:before {
    content: "\e904";
}

.icon-arrow-chevron-l-24:before {
    content: "\e905";
}

.icon-arrow-chevron-r-24:before {
    content: "\e906";
}

.icon-arrow-chevron-u-24:before {
    content: "\e907";
}

.select2-container .select2-selection .select2-selection__arrow::before,
.icon-arrow-d-24:before {
    content: "\e908";
}

.icon-arrow-l-24:before {
    content: "\e909";
}

.button-product-view::before,
.owl-prev::before,
.owl-next::before,
.icon-arrow-r-24:before {
    content: "\e90a";
}

.icon-arrow-u-24:before {
    content: "\e90b";
}

.icon-assortment-48:before {
    content: "\e90c";
}

.file-placeholder::before,
.icon-attachment-24:before {
    content: "\e90d";
}

label[for="payment_method_bacs"]::before,
.icon-bank-24:before {
    content: "\e90e";
}

.icon-bookmark-24:before {
    content: "\e90f";
}

.product-summary-box::before,
.icon-box-24:before {
    content: "\e910";
}

.icon-card-24:before {
    content: "\e911";
}

.icon-cart:before {
    content: "\e912";
}

.icon-cash-delivery-24:before {
    content: "\e913";
}

.section-single-vacancie .content ul li::before,
.offers .item::before,
.wp-block-list li::before,
input[type="checkbox"]:checked+span:before,
input[type="checkbox"]:checked+label:before,
.order-status.completed::before,
.icon-check-16:before {
    content: "\e914";
}

.icon-check-24:before {
    content: "\e915";
}

.icon-check-48:before {
    content: "\e916";
}

.order-status.failed::before,
.order-status.refunded::before,
.order-status.cancelled::before,
.icon-close-16:before {
    content: "\e917";
}

.remove::before,
.icon-close:before {
    content: "\e918";
}

.order-status.on-hold::before,
.order-status.pending::before,
.order-status.processing::before,
.icon-delivery-16:before {
    content: "\e919";
}

.icon-email-24:before {
    content: "\e91a";
}

.woocommerce .show-password-input::before,
.icon-eye-24:before {
    content: "\e91b";
}

.woocommerce .show-password-input.display-password::before,
.icon-eye-slash-24:before {
    content: "\e91c";
}

.icon-facebook-24:before {
    content: "\e91d";
}

.icon-fav-24:before {
    content: "\e91e";
}

.wpc-open-close-filters-button::before,
.icon-filters-24:before {
    content: "\e91f";
}

label[for*=local_pickup]::before,
.icon-home-24:before {
    content: "\e920";
}

.icon-info-16:before {
    content: "\e921";
}

.icon-info-24:before {
    content: "\e922";
}

.icon-instagram:before {
    content: "\e923";
}

.icon-item-24:before {
    content: "\e924";
}

.icon-key-24:before {
    content: "\e925";
}

.icon-kyivstar-24:before {
    content: "\e926";
}

.icon-lifecell-24:before {
    content: "\e927";
}

.icon-linkedin-24:before {
    content: "\e928";
}

.icon-location-48:before {
    content: "\e929";
}

.wc-ukr-shipping-np-fields #wcus_np_shipping_city_field .select2-selection__rendered::before,
.wc-ukr-shipping-np-fields #wcus_np_shipping_area_field .select2-selection__rendered::before,
.wc-ukr-shipping-np-fields #wcus_np_billing_city_field .select2-selection__rendered::before,
.wc-ukr-shipping-np-fields #wcus_np_billing_area_field .select2-selection__rendered::before,
.icon-map-24:before {
    content: "\e943";
}

.icon-menu:before {
    content: "\e92b";
}

.icon-minus-24:before {
    content: "\e92c";
}

.icon-nova_poshta_shipping::before,
.wc-ukr-shipping-np-fields #wcus_np_shipping_warehouse_field .select2-selection__rendered::before,
.wc-ukr-shipping-np-fields #wcus_np_billing_warehouse_field .select2-selection__rendered::before,
label[for*=nova_poshta]::before,
.icon-novaposhta:before,
.icon-np:before {
    content: "\e92d";
}

.icon-paragraph-24:before {
    content: "\e92e";
}

.icon-phone-24:before {
    content: "\e92f";
}

.icon-pinterest-24:before {
    content: "\e930";
}

.order-status.processing::before,
.icon-plus-16:before {
    content: "\e931";
}

.icon-plus-24:before {
    content: "\e932";
}

.icon-search-24:before {
    content: "\e933";
}

.icon-star-24:before {
    content: "\e934";
}

.icon-star-48:before {
    content: "\e935";
}

.icon-telegram-24:before {
    content: "\e936";
}

.icon-time-24:before {
    content: "\e937";
}

.icon-ukraine-24:before {
    content: "\e938";
}

label[for*=ukrposhta]::before,
.icon-ukrposhta:before {
    content: "\e939";
}

.icon-update-24:before {
    content: "\e93a";
}

.icon-user:before {
    content: "\e93b";
}

.icon-viber-24:before {
    content: "\e93c";
}

.icon-vodafone-24:before {
    content: "\e93d";
}

label[for="payment_method_cod"]::before,
.icon-wallet-24:before {
    content: "\e93e";
}

.icon-whatsapp-24:before {
    content: "\e93f";
}

.icon-x-24:before {
    content: "\e940";
}

.icon-youtube-24:before {
    content: "\e941";
}

.icon-tiktok:before {
    content: "\e942";
}