@import 'icons';

@mixin m ($breakpoint) {
    @if $breakpoint ==desktop {
        @media (min-width: 768px) {
            @content;
        }
    }

    @if $breakpoint ==tablet {
        @media (min-width: 768px) and (max-width: 1200px) {
            @content;
        }
    }

    @if $breakpoint ==tablet_p {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }

    @if $breakpoint ==tablet_h {
        @media (min-width: 992px) and (max-width: 1200px) {
            @content;
        }
    }

    @if $breakpoint ==mobile {
        @media (max-width: 767px) {
            @content;
        }
    }

    @if $breakpoint ==min992 {
        @media (min-width: 992px) {
            @content;
        }
    }

    @if $breakpoint ==max991 {
        @media (max-width: 991px) {
            @content;
        }
    }

    @if $breakpoint ==min1024 {
        @media (min-width: 1025px) {
            @content;
        }
    }

    @if $breakpoint ==max1024 {
        @media (max-width: 1024px) {
            @content;
        }
    }

    @if $breakpoint ==max1200 {
        @media (max-width: 1199px) {
            @content;
        }
    }

    @if $breakpoint ==min1200 {
        @media (min-width: 1200px) {
            @content;
        }
    }

    @if $breakpoint ==min1400 {
        @media (min-width: 1400px) {
            @content;
        }
    }

    @if $breakpoint ==max390 {
        @media (max-width: 390px) {
            @content;
        }
    }

    @if $breakpoint ==max320 {
        @media (max-width: 320px) {
            @content;
        }
    }

    @if $breakpoint ==min2000 {
        @media (min-width: 2000px) {
            @content;
        }
    }

    @if $breakpoint ==min_1200_max_1325 {
        @media (min-width: 1200px) and (max-width: 1325px) {
            @content;
        }
    }

    @if $breakpoint ==min1325 {
        @media (min-width: 1325px) {
            @content;
        }
    }

    @if $breakpoint ==min1440 {
        @media (min-width: 1440px) {
            @content;
        }
    }

    @if $breakpoint ==min1440h {
        @media (min-height: 1440px) {
            @content;
        }
    }
}

@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin max1024 {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin min1024 {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1200px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin tablet-p {
    @media (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin tablet-l {
    @media (min-width: 1025px) and (max-width: 1200px) {
        @content;
    }
}

@mixin min1200 {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin max1200 {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin min1260 {
    @media (min-width: 1260px) {
        @content;
    }
}

@mixin max1326 {
    @media (max-width: 1326px) {
        @content;
    }
}

@mixin container() {
    width: 100%;
    max-width: var(--container);
    margin: 0 auto;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
}

@mixin checkbox() {

	input[type="checkbox"] {
        display: none;
    
        +span,
        +label {
            display: block;
            cursor: pointer;
            user-select: none;
            text-align: left;
            margin: 0;
            color: var(--color_black);
            position: relative;
            padding-left: calc(18px + var(--gap_s));
    
            a {
                color: var(--color_black);
    
                &:hover {
                    color: var(--color_primary);
                }
            }
    
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                min-width: 16px;
                height: 16px;
                border-radius: 6px;
                border: 1px solid var(--color_secondary);
                transition: .5s ease;
            }
    
            &:hover {
                &::before {
                    border-color: var(--color_primary);
                }
            }
        }
    
        &:checked {
    
            +span,
            +label {
    
                &:before {
                    content: $icon_checkbox;
                    background-color: var(--color_primary);
                    border-color: var(--color_primary);
                    color: var(--color_white);
                }
            }
        }
    }
}

@mixin input() {
    font-size: var(--font_size_p1);
    font-weight: 400;
    color: var(--color_black);
    background-color: var(--color_white);
    border-radius: var(--radius);
    border: 1px solid var(--color_white);
    line-height: 1;
    height: var(--item_size);
    width: 100%;
    display: block;
    font-family: var(--font);
    padding: var(--padding_s);
    transition: all .5s ease;

    &::placeholder {
        color: var(--color_black);
        font-family: var(--font);
        font-weight: 400;
    }
}

@mixin button-secondary {
    background-color: var(--color_secondary);
    border-color: var(--color_grey);
    color: var(--color_white);

    &:focus,
    &:hover {
        border-color: var(--color_primary);
        background-color: var(--color_primary);
    }
}

@mixin button() {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--padding_s);
    gap: var(--gap_s);
    background: var(--color_primary);
    border-radius: var(--radius);
    user-select: none;
    border: 1px solid var(--color_primary);
    color: var(--color_white);
    cursor: pointer;
    transition: all .3s ease;
    line-height: 1;

    svg {
        line-height: 0;
        position: relative;
        margin: -1px 0;
    }

    &:focus,
    &:hover {
        background-color: var(--color_secondary);
        color: var(--color_white);
    }

    &.button-secondary {
        @include button-secondary;
    }
}