input[type=checkbox]:checked + span:before,
input[type=checkbox]:checked + label:before,
input[type=radio]:checked + span:before,
input[type=radio]:checked + label:before {
  content: url("data:image/svg+xml;utf8,<svg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M10 1.70866C9.99962 1.7741 9.98615 1.8388 9.96039 1.89895C9.93463 1.9591 9.89709 2.01348 9.85 2.05888L4.71 7.20402C4.61704 7.2978 4.50644 7.37224 4.38458 7.42305C4.26272 7.47385 4.13201 7.5 4 7.5C3.86799 7.5 3.73728 7.47385 3.61542 7.42305C3.49356 7.37224 3.38296 7.2978 3.29 7.20402L0.15 4.0614C0.102906 4.016 0.0653723 3.96162 0.0396106 3.90147C0.013849 3.84132 0.000380856 3.77662 0 3.71118C0.000331042 3.57597 0.0542802 3.44641 0.15 3.35096L0.85 2.65052C0.896482 2.60362 0.951782 2.5664 1.01271 2.541C1.07364 2.5156 1.13899 2.50252 1.205 2.50252C1.27101 2.50252 1.33636 2.5156 1.39729 2.541C1.45822 2.5664 1.51352 2.60362 1.56 2.65052L4 5.09269L8.44 0.647992C8.48648 0.601099 8.54178 0.563878 8.60271 0.538478C8.66364 0.513077 8.72899 0.5 8.795 0.5C8.86101 0.5 8.92636 0.513077 8.98729 0.538478C9.04822 0.563878 9.10352 0.601099 9.15 0.647992L9.85 1.34843C9.94572 1.44388 9.99967 1.57344 10 1.70866Z' fill='%23F2F2F2'/></svg>");
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6.40002 7.79998C6.20002 8.06665 5.80002 8.06665 5.60002 7.79998L0.100908 0.800001C-0.146306 0.470383 0.0888849 4.98756e-07 0.500908 4.80746e-07L11.4991 0C11.9111 -1.80101e-08 12.1463 0.470382 11.8991 0.8L6.40002 7.79998Z' fill='%23020202'/></svg>");
}

.wpc-open-close-filters-button::before {
  content: url("data:image/svg+xml;utf8,<svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1.5C0 1.22386 0.223858 1 0.5 1H1.5C1.77614 1 2 1.22386 2 1.5V2.5C2 2.77614 1.77614 3 1.5 3H0.5C0.223858 3 0 2.77614 0 2.5V1.5Z' fill='white'/><path d='M0 7.5C0 7.22386 0.223858 7 0.5 7H7.5C7.77614 7 8 7.22386 8 7.5V8.5C8 8.77614 7.77614 9 7.5 9H0.5C0.223858 9 0 8.77614 0 8.5V7.5Z' fill='white'/><path d='M14 7.5C14 7.22386 14.2239 7 14.5 7H15.5C15.7761 7 16 7.22386 16 7.5V8.5C16 8.77614 15.7761 9 15.5 9H14.5C14.2239 9 14 8.77614 14 8.5V7.5Z' fill='white'/><path d='M8 1.5C8 1.22386 8.22386 1 8.5 1H15.5C15.7761 1 16 1.22386 16 1.5V2.5C16 2.77614 15.7761 3 15.5 3H8.5C8.22386 3 8 2.77614 8 2.5V1.5Z' fill='white'/><path d='M0 13.5C0 13.2239 0.223858 13 0.5 13H1.5C1.77614 13 2 13.2239 2 13.5V14.5C2 14.7761 1.77614 15 1.5 15H0.5C0.223858 15 0 14.7761 0 14.5V13.5Z' fill='white'/><path d='M8 13.5C8 13.2239 8.22386 13 8.5 13H15.5C15.7761 13 16 13.2239 16 13.5V14.5C16 14.7761 15.7761 15 15.5 15H8.5C8.22386 15 8 14.7761 8 14.5V13.5Z' fill='white'/><path d='M3 1C3 0.447715 3.44772 0 4 0H6C6.55228 0 7 0.447715 7 1V3C7 3.55228 6.55228 4 6 4H4C3.44772 4 3 3.55228 3 3V1Z' fill='white'/><path d='M3 13C3 12.4477 3.44772 12 4 12H6C6.55228 12 7 12.4477 7 13V15C7 15.5523 6.55228 16 6 16H4C3.44772 16 3 15.5523 3 15V13Z' fill='white'/><path d='M9 7C9 6.44772 9.44772 6 10 6H12C12.5523 6 13 6.44772 13 7V9C13 9.55228 12.5523 10 12 10H10C9.44772 10 9 9.55228 9 9V7Z' fill='white'/></svg>");
}

.product-summary-box::before {
  content: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M11.499 1.13506C11.8089 0.95563 12.1911 0.955631 12.501 1.13506L21.001 6.05612C21.3099 6.2349 21.5 6.5647 21.5 6.92154V17.0784C21.5 17.4353 21.3099 17.7651 21.001 17.9439L12.501 22.8649C12.1911 23.0443 11.8089 23.0443 11.499 22.8649L2.99896 17.9439C2.69015 17.7651 2.5 17.4353 2.5 17.0784V6.92154C2.5 6.5647 2.69015 6.2349 2.99896 6.05611L11.499 1.13506ZM14.9688 13.6262L18.5312 11.5637V8.06374L13.7812 5.31374L10.2188 7.37624L14.9688 10.1262V13.6262ZM7.25 16.5925V18.655L3.6875 16.5925V14.53L7.25 16.5925Z' fill='%233E3F43'/></svg>");
}

.woocommerce-ordering .select-wrapper .select-list li::before {
  content: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M19 8.20866C18.9996 8.2741 18.9862 8.3388 18.9604 8.39895C18.9346 8.4591 18.8971 8.51348 18.85 8.55888L10.71 16.704C10.617 16.7978 10.5064 16.8722 10.3846 16.923C10.2627 16.9738 10.132 17 10 17C9.86799 17 9.73728 16.9738 9.61542 16.923C9.49356 16.8722 9.38296 16.7978 9.29 16.704L5.15 12.5614C5.10291 12.516 5.06537 12.4616 5.03961 12.4015C5.01385 12.3413 5.00038 12.2766 5 12.2112C5.00033 12.076 5.05428 11.9464 5.15 11.851L5.85 11.1505C5.89648 11.1036 5.95178 11.0664 6.01271 11.041C6.07364 11.0156 6.13899 11.0025 6.205 11.0025C6.27101 11.0025 6.33636 11.0156 6.39729 11.041C6.45822 11.0664 6.51352 11.1036 6.56 11.1505L10 14.5927L17.44 7.14799C17.4865 7.1011 17.5418 7.06388 17.6027 7.03848C17.6636 7.01308 17.729 7 17.795 7C17.861 7 17.9264 7.01308 17.9873 7.03848C18.0482 7.06388 18.1035 7.1011 18.15 7.14799L18.85 7.84843C18.9457 7.94388 18.9997 8.07344 19 8.20866Z' fill='white'/></svg>");
}

.product-summary-box::before,
input[type=checkbox]:checked + span:before,
input[type=checkbox]:checked + label:before,
input[type=radio]:checked + span:before,
input[type=radio]:checked + label:before,
.wpc-open-close-filters-button::before {
  line-height: 0;
}

body main .wpc-filters-open-button-container a.wpc-filters-open-widget,
body main .wpc-filters-open-button-container a.wpc-open-close-filters-button {
  all: unset;
}
body main .wpc-filters-open-button-container a.wpc-filters-open-widget .wpc-icon-html-wrapper,
body main .wpc-filters-open-button-container a.wpc-open-close-filters-button .wpc-icon-html-wrapper {
  display: none !important;
}

body main .wpc-filters-open-button-container a.wpc-open-close-filters-button {
  background-color: var(--color_secondary);
  display: flex;
  align-items: center;
  gap: var(--gap_s);
  border-radius: var(--radius);
  color: var(--color_white);
  line-height: 1;
  cursor: pointer;
  font-size: var(--font_size_p1);
  padding: var(--padding_xs);
}
@media (max-width: 767px) {
  body main .wpc-filters-open-button-container a.wpc-open-close-filters-button.wpc-opened {
    margin-bottom: var(--padding_s);
  }
}

body main .wpc-custom-selected-terms ul.wpc-filter-chips-list {
  all: unset;
}
body main .wpc-custom-selected-terms ul.wpc-filter-chips-list li.wpc-filter-chip {
  margin: 0 0 var(--gap_s);
}
body main .wpc-custom-selected-terms ul.wpc-filter-chips-list li.wpc-filter-chip.wpc-chip-reset-all a {
  all: unset;
  color: var(--color_black);
  font-size: var(--font_size_p2);
  cursor: pointer;
}
body main .wpc-custom-selected-terms ul.wpc-filter-chips-list li.wpc-filter-chip.wpc-chip-reset-all a:hover {
  color: var(--color_primary);
}
body main .wpc-custom-selected-terms .wpc-filter-chip:not(.wpc-chip-reset-all) {
  display: none !important;
}

body main .widget_wpc_filters_widget {
  margin: 0;
}
body main .widget_wpc_filters_widget .wpc-filters-main-wrap .wpc-filter-title,
body main .widget_wpc_filters_widget .wpc-filters-main-wrap ul.wpc-filters-ul-list,
body main .widget_wpc_filters_widget .wpc-filters-main-wrap li.wpc-term-item label,
body main .widget_wpc_filters_widget .wpc-filters-main-wrap li.wpc-term-item,
body main .widget_wpc_filters_widget .wpc-filters-main-wrap .wpc-filters-section,
body main .widget_wpc_filters_widget .wpc-filters-main-wrap .wpc-filters-widget-wrapper {
  all: unset;
}
body main .widget_wpc_filters_widget .wpc-filters-main-wrap .wpc-filters-widget-wrapper,
body main .widget_wpc_filters_widget .wpc-filters-main-wrap .wpc-filters-section,
body main .widget_wpc_filters_widget .wpc-filters-main-wrap ul.wpc-filters-ul-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap_s);
}
body main .widget_wpc_filters_widget .wpc-filters-main-wrap .wpc-filters-widget-wrapper {
  border: 1px solid var(--color_white);
  border-radius: var(--radius);
  gap: 0;
}
body main .widget_wpc_filters_widget .wpc-filters-main-wrap li.wpc-term-item label {
  display: block;
  position: relative;
  padding-left: calc(18px + var(--gap_s));
}
body main .widget_wpc_filters_widget .wpc-filters-main-wrap li.wpc-term-item label::before {
  position: absolute;
  left: 0;
}
body main .widget_wpc_filters_widget .wpc-filters-main-wrap .wpc-filters-section {
  padding: var(--padding_s);
}
body main .widget_wpc_filters_widget .wpc-filters-main-wrap .wpc-filters-section:not(:last-child) {
  border-bottom: 1px solid var(--color_white);
}
body main .widget_wpc_filters_widget .wpc-filters-main-wrap .wpc-filter-header {
  font-size: var(--font_size_h5);
  font-weight: bold;
}
body main .widget_wpc_filters_widget .wpc-filters-main-wrap .wpc-edit-filter-set {
  padding: var(--padding_s);
  border: 1px solid var(--color_white);
  border-radius: var(--radius);
  margin-top: var(--padding_s);
}
body main .widget_wpc_filters_widget .wpc-filters-main-wrap .wpc-instead-of-posts-found:empty {
  display: none !important;
}

@media (max-width: 1023px) {
  .wpc_show_bottom_widget .wpc-filters-open-button-container,
  .wpc_show_open_close_button .wpc-filters-open-button-container {
    display: block;
  }
  body.wpc_show_open_close_button main .wpc-filters-widget-content:not(.wpc-opened) {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .wpc-filters-widget-content.wpc-opened {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 9999;
    width: 35vw;
    background-color: var(--color_white);
    border-radius: var(--radius);
    overflow: hidden;
    padding: var(--padding_s);
    border: 1px solid var(--color_white);
    margin-top: var(--padding_m) !important;
    border: 1px solid var(--color_primary);
  }
}
:root {
  --cubic_bezier: cubic-bezier(0.1, 0.6, 0, 1);
  --bg: #F2F2F2;
  --container_padding: 50px;
  --container: 1380px;
  --font: "Onest", Helvetica, Arial, Verdana, sans-serif;
  --text_color: #020202;
  --color_white: #fff;
  --color_black: #020202;
  --color_grey: #3E3F43;
  --color_grey_2: #2F3138;
  --color_primary: #EF3E33;
  --color_secondary: #2F3138;
  --color_link: #020202;
  --color_green: #19B44F;
  --color_error: #EF3E33;
  --color_yellow: #F4BF11;
  --header_height: 104px;
  --item_size: 56px;
  --max_size_m: 400px;
  --max_size_s: 600px;
  --gap_xs: 4px;
  --gap_s: 12px;
  --gap_m: 24px;
  --gap_l: 48px;
  --radius: 8px;
  --padding_xs: 12px;
  --padding_s: 16px;
  --padding_m: 24px;
  --padding_l: 48px;
  --font_size_h1: 72px;
  --font_size_h2: 48px;
  --font_size_h3: 36px;
  --font_size_h4: 24px;
  --font_size_h5: 16px;
  --font_size_p1: 16px;
  --font_size_p2: 14px;
  --font_size_p3: 12px;
}
@media (max-width: 767px) {
  :root {
    --container_padding: 24px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  :root {
    --container_padding: 48px;
    --container: 1140px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  :root {
    --container_padding: 48px;
    --container: 960px;
  }
}

body {
  background-color: var(--bg);
  font-family: var(--font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: var(--font_size_p1);
  font-style: normal;
  color: var(--text_color);
  line-height: 1.3;
  overflow-x: hidden;
}
body.overflow-hidden, body.nav-active {
  overflow: hidden !important;
}

:focus {
  outline: none !important;
}

input:not([type=checkbox]):not(input[type=radio]):not([type=submit]),
select {
  font-size: var(--font_size_p1);
  font-weight: 400;
  color: var(--color_black);
  background-color: var(--color_white);
  border-radius: var(--radius);
  border: 1px solid var(--color_white);
  line-height: 1;
  height: var(--item_size);
  width: 100%;
  display: block;
  font-family: var(--font);
  padding: var(--padding_s);
  transition: all 0.5s ease;
}
input:not([type=checkbox]):not(input[type=radio]):not([type=submit])::-moz-placeholder, select::-moz-placeholder {
  color: var(--color_black);
  font-family: var(--font);
  font-weight: 400;
}
input:not([type=checkbox]):not(input[type=radio]):not([type=submit])::placeholder,
select::placeholder {
  color: var(--color_black);
  font-family: var(--font);
  font-weight: 400;
}

select {
  cursor: pointer;
  background-position: calc(100% - var(--padding_s)) center;
  background-repeat: no-repeat;
  background-size: 12px;
  padding-right: calc(12px + var(--padding_s) * 2);
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
       appearance: none !important;
}
select::-ms-expand {
  display: none !important;
}

input:-webkit-autofill {
  background-color: transparent !important;
  color: var(--color_black) !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
}

input[type=radio],
input[type=checkbox] {
  display: none;
}
input[type=radio] + span,
input[type=radio] + label,
input[type=checkbox] + span,
input[type=checkbox] + label {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  line-height: 1;
  text-align: left;
  margin: 0;
  color: var(--color_black);
}
input[type=radio] + span a,
input[type=radio] + label a,
input[type=checkbox] + span a,
input[type=checkbox] + label a {
  color: var(--color_black);
}
input[type=radio] + span a:hover,
input[type=radio] + label a:hover,
input[type=checkbox] + span a:hover,
input[type=checkbox] + label a:hover {
  color: var(--color_primary);
}
input[type=radio] + span:before,
input[type=radio] + label:before,
input[type=checkbox] + span:before,
input[type=checkbox] + label:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  min-width: 16px;
  height: 16px;
  border-radius: 6px;
  border: 1px solid var(--color_secondary);
  transition: 0.5s ease;
}
input[type=radio] + span:hover::before::before,
input[type=radio] + label:hover::before::before,
input[type=checkbox] + span:hover::before::before,
input[type=checkbox] + label:hover::before::before {
  border-color: var(--color_primary);
}
input[type=radio]:checked + span:before,
input[type=radio]:checked + label:before,
input[type=checkbox]:checked + span:before,
input[type=checkbox]:checked + label:before {
  background-color: var(--color_primary);
  border-color: var(--color_primary);
  color: var(--color_white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text_color);
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: var(--font_size_h4);
}

h2 {
  font-size: var(--font_size_h3);
}

h3 {
  font-size: var(--font_size_h3);
}

h4 {
  font-size: var(--font_size_h3);
}

h5 {
  font-size: var(--font_size_h3);
}

#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}

.site-main {
  display: flex;
  flex-direction: column;
}
.site-main > div:empty {
  display: none !important;
}

main {
  flex: 1;
}

strong {
  font-weight: 600;
}

p:last-child {
  margin-bottom: 0;
}

svg rect,
svg path {
  transition: all 0.3s ease;
}

style + p:last-child {
  margin-top: 0;
}

a,
input,
select,
textarea,
button {
  outline: none !important;
  font-family: var(--font);
}

textarea {
  min-height: 100px;
}

button {
  border: 0;
}

address {
  font-style: normal;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

fieldset {
  border: 0;
  padding: 0;
}

a {
  transition: all 0.3s ease;
}
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus, a:active, a:visited {
  color: inherit;
}
a:visited {
  color: inherit;
}

p:first-child {
  margin-top: 0;
}

figure {
  line-height: 0 !important;
}

.container {
  width: 100%;
  max-width: var(--container);
  margin: 0 auto;
  padding-left: var(--container_padding);
  padding-right: var(--container_padding);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
a.button,
.button,
button[type=submit],
input[type=submit] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--padding_s);
  gap: var(--gap_s);
  background: var(--color_primary);
  border-radius: var(--radius);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 1px solid var(--color_primary);
  color: var(--color_white);
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 1;
}
a.button svg,
.button svg,
button[type=submit] svg,
input[type=submit] svg {
  line-height: 0;
  position: relative;
  margin: -1px 0;
}
a.button:focus, a.button:hover,
.button:focus,
.button:hover,
button[type=submit]:focus,
button[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
  background-color: var(--color_secondary);
  color: var(--color_white);
}
a.button.button-secondary,
.button.button-secondary,
button[type=submit].button-secondary,
input[type=submit].button-secondary {
  background-color: var(--color_secondary);
  border-color: var(--color_grey);
  color: var(--color_white);
}
a.button.button-secondary:focus, a.button.button-secondary:hover,
.button.button-secondary:focus,
.button.button-secondary:hover,
button[type=submit].button-secondary:focus,
button[type=submit].button-secondary:hover,
input[type=submit].button-secondary:focus,
input[type=submit].button-secondary:hover {
  border-color: var(--color_primary);
  background-color: var(--color_primary);
}

button[type=submit] {
  min-height: 56px;
}

.header-title {
  position: relative;
  line-height: 1;
  padding: var(--padding_l) 0;
  transition: all 0.5s ease;
  background-color: var(--color_secondary);
  border-bottom: 1px solid var(--color_grey);
}
.header-title h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--color_white);
  font-size: var(--font_size_h4);
}

header.site-header {
  position: relative;
  line-height: 1;
  padding: var(--padding_m) 0;
  transition: all 0.5s ease;
  background-color: var(--color_secondary);
  border-bottom: 1px solid var(--color_grey);
}
header.site-header .container {
  max-width: 100%;
}
header.site-header .logo-link {
  color: var(--color_white);
}
header.site-header .logo-link:hover {
  color: var(--color_white);
}
header.site-header .logo-link[href="#"] {
  cursor: default !important;
}
header.site-header .row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1023px) {
  header.site-header .row {
    grid-template-columns: auto 1fr;
  }
}
header.site-header .row .col {
  display: flex;
  align-items: center;
  gap: 24px;
}
header.site-header .row .col-1 {
  justify-content: flex-start;
}
header.site-header .row .col-3 {
  justify-content: flex-end;
}
header.site-header .header-buttons {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
header.site-header .site-branding {
  display: block;
  line-height: 0;
  position: relative;
}
header.site-header .site-branding svg,
header.site-header .site-branding img {
  display: block;
  width: 100%;
  max-width: 80px;
}
header.site-header .site-branding .logo-link {
  display: block;
  color: var(--color_white);
}
header.site-header .site-branding .logo-link:hover {
  color: var(--color_primary);
}
header.site-header div.menu > ul,
header.site-header ul.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap_m);
  padding: 0;
  margin: 0;
}
@media (max-width: 1023px) {
  header.site-header div.menu > ul,
  header.site-header ul.menu {
    flex-direction: column;
  }
}
header.site-header div.menu > ul > li,
header.site-header ul.menu > li {
  list-style: none;
}
header.site-header div.menu > ul > li a,
header.site-header ul.menu > li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: left;
  padding: 0;
  position: relative;
  font-size: var(--font_size_p1);
}
@media (min-width: 1024px) {
  header.site-header div.menu > ul > li a,
  header.site-header ul.menu > li a {
    color: var(--color_white);
  }
}
@media (max-width: 1023px) {
  header.site-header div.menu > ul > li a,
  header.site-header ul.menu > li a {
    color: var(--text_color);
  }
}
header.site-header div.menu > ul > li a[aria-current=page],
header.site-header ul.menu > li a[aria-current=page] {
  cursor: default;
  text-decoration: none;
  color: var(--color_primary) !important;
}
header.site-header div.menu > ul > li a:hover,
header.site-header ul.menu > li a:hover {
  color: var(--color_primary);
  text-decoration: none;
}
@media (max-width: 1023px) {
  header.site-header .menu-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap_m);
    overflow-x: auto;
    position: relative;
    height: 100vh;
    width: 100%;
    padding-bottom: var(--padding_m);
  }
}
@media (max-width: 1023px) and (min-width: 768px) and (max-width: 1024px) {
  header.site-header .menu-inner {
    padding-bottom: 46px;
  }
}
@media (max-width: 1023px) {
  header.site-header .menu-inner .menu-header-menu-container {
    flex: 1;
  }
}
@media (max-width: 1023px) {
  header.site-header .menu-wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 9998;
    top: 0;
    bottom: 0;
    right: -100%;
    transition: all 3s var(--cubic_bezier);
    will-change: right;
    opacity: 0;
    visibility: hidden;
    background-color: var(--color_white);
    max-width: 100vw;
    transition: all 1s var(--cubic_bezier);
  }
}
@media (max-width: 1023px) and (max-width: 767px) {
  .admin-bar header.site-header .menu-wrapper {
    top: 46px;
  }
}
@media (max-width: 1023px) and (min-width: 768px) and (max-width: 1200px) {
  .admin-bar header.site-header .menu-wrapper {
    top: 32px;
  }
}
@media (max-width: 1023px) {
  .nav-active header.site-header .menu-wrapper {
    opacity: 1;
    visibility: visible;
    right: 0;
    transition: all 0.7s var(--cubic_bezier);
  }
}
header.site-header .close-menu {
  position: absolute;
  right: var(--padding_m);
  top: var(--padding_m);
}
@media (min-width: 1024px) {
  header.site-header .close-menu {
    display: none !important;
  }
}
header.site-header .menu-phone {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: var(--gap_m);
  padding: 0;
  margin: var(--gap_m) 0 0;
}
header.site-header .menu-phone a {
  color: var(--text_color);
}
header.site-header .menu-phone a:hover {
  color: var(--color_primary);
  text-decoration: none;
}
@media (min-width: 1024px) {
  header.site-header .menu-phone {
    display: none !important;
  }
}
header.site-header .menu-toggle {
  cursor: pointer;
}
@media (min-width: 1024px) {
  header.site-header .menu-toggle {
    display: none !important;
  }
}
@media (max-width: 1023px) {
  header.site-header .menu-primary {
    flex: 1;
    padding: 0 var(--padding_m);
  }
}
@media (min-width: 1024px) {
  header.site-header .menu-header {
    display: none !important;
  }
}
@media (max-width: 1023px) {
  header.site-header .menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding_m);
  }
  header.site-header .menu-header .logo-link {
    color: var(--color_secondary);
  }
  header.site-header .menu-header .logo-link:hover {
    color: var(--color_primary);
  }
}
header.site-header .header-login,
header.site-header .header-cart,
header.site-header .menu-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--padding_s);
  gap: var(--gap_s);
  background: var(--color_primary);
  border-radius: var(--radius);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 1px solid var(--color_primary);
  color: var(--color_white);
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 1;
  border-color: var(--color_grey);
  color: var(--color_white);
  background-color: transparent;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
}
header.site-header .header-login svg,
header.site-header .header-cart svg,
header.site-header .menu-toggle svg {
  line-height: 0;
  position: relative;
  margin: -1px 0;
}
header.site-header .header-login:focus, header.site-header .header-login:hover,
header.site-header .header-cart:focus,
header.site-header .header-cart:hover,
header.site-header .menu-toggle:focus,
header.site-header .menu-toggle:hover {
  background-color: var(--color_secondary);
  color: var(--color_white);
}
header.site-header .header-login.button-secondary,
header.site-header .header-cart.button-secondary,
header.site-header .menu-toggle.button-secondary {
  background-color: var(--color_secondary);
  border-color: var(--color_grey);
  color: var(--color_white);
}
header.site-header .header-login.button-secondary:focus, header.site-header .header-login.button-secondary:hover,
header.site-header .header-cart.button-secondary:focus,
header.site-header .header-cart.button-secondary:hover,
header.site-header .menu-toggle.button-secondary:focus,
header.site-header .menu-toggle.button-secondary:hover {
  border-color: var(--color_primary);
  background-color: var(--color_primary);
}
header.site-header .header-login span,
header.site-header .header-cart span,
header.site-header .menu-toggle span {
  line-height: 1;
}
header.site-header .header-login svg,
header.site-header .header-cart svg,
header.site-header .menu-toggle svg {
  line-height: 0;
}
header.site-header .header-login:hover,
header.site-header .header-cart:hover,
header.site-header .menu-toggle:hover {
  background-color: var(--color_primary);
  border-color: var(--color_primary);
  color: var(--color_white);
}
header.site-header .header-login .cart-count,
header.site-header .header-cart .cart-count,
header.site-header .menu-toggle .cart-count {
  font-size: var(--font_size_h5);
  font-weight: bold;
}
header.site-header .header-phone {
  display: flex;
  align-items: center;
  gap: var(--gap_m);
  font-size: var(--font_size_p1);
}
@media (max-width: 1326px) and (min-width: 1024px) {
  header.site-header .header-phone {
    flex-direction: column;
    gap: var(--gap_s);
  }
}
header.site-header .header-phone a {
  color: var(--color_white);
  text-decoration: none;
}
header.site-header .header-phone a:hover {
  text-decoration: none;
  color: var(--color_primary);
}
@media (max-width: 1023px) {
  header.site-header .header-phone {
    display: none !important;
  }
}
header.site-header .social-links {
  justify-content: center;
}
header.site-header .social-links a {
  background-color: var(--color_secondary);
  border-color: var(--color_secondary);
}
header.site-header .social-links a:hover {
  background-color: var(--color_primary);
  border-color: var(--color_primary);
}
@media (min-width: 1024px) {
  header.site-header .social-links {
    display: none !important;
  }
}

.social-links {
  display: flex;
  align-items: center;
  gap: var(--gap_m);
}

footer {
  background-color: var(--color_grey);
  padding: 50px 0;
  color: var(--color_white);
}
footer .row {
  display: grid;
}
@media (min-width: 768px) {
  footer .row {
    grid-template-columns: 37.5% 1fr;
    gap: var(--gap_m);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .row {
    grid-template-columns: 1fr;
    gap: var(--gap_l);
  }
}
@media (max-width: 767px) {
  footer .row {
    grid-template-columns: 1fr;
    gap: var(--gap_m);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .footer-info-container {
    grid-column: span 2;
  }
}
footer .footer-phone,
footer .footer-info-container,
footer .footer-menu,
footer .footer-menu .menu {
  display: flex;
  flex-direction: column;
  gap: var(--gap_m);
}
@media (min-width: 768px) {
  footer .footer-phone,
  footer .footer-info-container,
  footer .footer-menu,
  footer .footer-menu .menu {
    row-gap: 33px;
  }
}
footer .footer-phone {
  font-size: var(--font_size_h4);
  line-height: 1;
  font-weight: bold;
}
@media (min-width: 768px) {
  footer .footer-phone {
    row-gap: 33px;
  }
}
@media (min-width: 768px) {
  footer .footer-menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap_m);
  }
}
@media (max-width: 767px) {
  footer .footer-menu-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap_m);
  }
}
@media (max-width: 767px) {
  footer .footer-menu-container .footer-menu,
  footer .footer-menu-container .menu {
    display: flex;
    flex-direction: column;
    gap: var(--gap_s);
  }
}
footer .footer-copyright {
  font-size: var(--font_size_p2);
}
footer .footer-menu .label {
  font-weight: bold;
}
footer a {
  color: var(--color_white);
}
footer a:hover {
  color: var(--color_primary);
}
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumb-container {
  background-color: var(--color_secondary);
  padding: var(--padding_s) 0;
}
.woocommerce-account .breadcrumb-container {
  display: none !important;
}

#breadcrumbs {
  margin: 0;
  color: var(--color_white);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap_s);
}
#breadcrumbs > span {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap_s);
}
#breadcrumbs a {
  color: var(--color_white);
}
#breadcrumbs a:visited {
  color: var(--color_white);
}
#breadcrumbs a:hover {
  color: var(--color_primary);
}
#breadcrumbs .breadcrumb_last {
  color: var(--color_primary);
}

.section {
  padding-top: var(--padding_l);
  padding-bottom: var(--padding_l);
}
@media (max-width: 767px) {
  .section {
    padding-top: var(--padding_m);
    padding-bottom: var(--padding_m);
  }
}
.section .container {
  display: flex;
  flex-direction: column;
  gap: var(--gap_m);
}
.section .section-title {
  font-size: var(--font_size_h4);
  text-transform: uppercase;
  font-weight: bold;
}
.section.section-category-hero {
  background-color: var(--color_secondary);
  color: var(--color_white);
  text-align: center;
  margin-bottom: var(--padding_m);
}
@media (min-width: 768px) {
  .section.section-category-hero .container {
    gap: var(--gap_l);
  }
}
.section.section-main {
  background-color: var(--color_secondary);
  color: var(--color_white);
  text-align: center;
  background-image: url("../images/hero_bg.png");
  background-size: cover;
  background-position: center bottom;
}
@media (min-width: 768px) {
  .section.section-main .container {
    gap: var(--gap_l);
  }
}
.section.section-main .section-title {
  color: var(--color_white);
  margin: 0;
  text-align: center;
  font-size: var(--font_size_h1);
  line-height: 1.3;
}
@media (max-width: 767px) {
  .section.section-main .section-title {
    font-size: var(--font_size_h3);
  }
}
.section.section-main .button.button-catalog {
  align-self: center;
}
.section.section-main .content {
  display: flex;
  flex-direction: column;
  gap: var(--gap_s);
  max-width: var(--max_size_s);
  margin: 0 auto;
}
.section.section-main .text {
  font-size: var(--font_size_p2);
}
.section.section-articles {
  background-color: var(--color_secondary);
}
@media (max-width: 1023px) {
  .section.section-articles .article-items-wrapper {
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
    margin-left: calc(var(--container_padding) * -1);
    margin-right: calc(var(--container_padding) * -1);
    overflow-x: auto;
    scrollbar-width: none;
  }
  .section.section-articles .article-items-wrapper::-webkit-scrollbar {
    display: none !important;
  }
}
.section.section-articles .section-title {
  color: var(--color_white);
}
@media (max-width: 1023px) {
  .section.section-articles .article-items {
    gap: 0;
  }
}
@media (max-width: 767px) {
  .section.section-articles .article-items .article-item {
    min-width: calc(100vw - var(--container_padding));
    padding-right: var(--gap_m);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section.section-articles .article-items .article-item {
    min-width: 70vw;
    padding-right: var(--gap_m);
  }
}
.section.section-advantages {
  background-color: var(--color_secondary);
}
.section.section-advantages .advantage-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap_l);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section.section-advantages .advantage-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .section.section-advantages .advantage-items {
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gap_m);
  }
}
.section.section-advantages .advantage-items .advantage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  text-align: center;
  color: var(--color_white);
}
@media (max-width: 767px) {
  .section.section-advantages .advantage-items .advantage-item {
    gap: var(--gap_xs);
  }
}
.section.section-advantages .advantage-items .advantage-item .advantage-item-icon {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section.section-advantages .advantage-items .advantage-item .advantage-item-icon img {
  max-width: 100%;
}
.section.section-advantages .advantage-items .advantage-item .advantage-item-icon svg {
  width: 48px;
  height: 48px;
}
.section.section-advantages .advantage-items .advantage-item .advantage-item-title {
  font-size: var(--font_size_h4);
  font-weight: bold;
  color: var(--color_primary);
}
.section.section-advantages .advantage-items .advantage-item .advantage-item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section.section-advantages .advantage-items .advantage-item .advantage-item-description p {
  margin: 0;
}
.section.section-bestsellers {
  padding-bottom: 0;
}
.section.section-subscribe {
  text-align: center;
  background-color: var(--color_secondary);
  color: var(--color_white);
}
.section.section-subscribe .section-title {
  font-size: var(--font_size_h5);
  text-transform: none;
}
@media (max-width: 767px) {
  .section.section-subscribe .text {
    font-size: var(--font_size_p2);
  }
}
.section.section-text .content {
  background-color: var(--color_white);
  border-radius: var(--radius);
  padding: var(--padding_m);
  font-size: var(--font_size_p1);
}
.section.section-text .content .hidden-content,
.section.section-text .content .show-more {
  display: flex;
  flex-direction: column;
  gap: var(--gap_m);
}
.section.section-text .content h1,
.section.section-text .content h2,
.section.section-text .content h3,
.section.section-text .content h4,
.section.section-text .content h5 {
  font-size: var(--font_size_h4);
  text-transform: uppercase;
}
.section.section-text .content * {
  margin: 0;
}
.section.section-text .content *:first-child {
  margin-top: 0;
}

.bestsellers {
  border-radius: var(--radius);
  overflow: hidden;
}
@media (min-width: 768px) {
  .bestsellers .badge {
    left: var(--gap_l);
    top: var(--gap_l);
  }
}
.bestsellers .owl-nav {
  position: absolute;
  right: var(--padding_l);
  bottom: var(--padding_l);
  align-items: center;
  gap: var(--gap_m);
}
@media (max-width: 767px) {
  .bestsellers .owl-nav {
    right: var(--padding_m);
    bottom: var(--padding_m);
    gap: var(--gap_s);
  }
}
.bestsellers .owl-item:not(.active) {
  opacity: 1 !important;
  visibility: visible !important;
}
.bestsellers .item {
  display: block;
  position: relative;
  background-color: var(--color_black);
  color: var(--color_white);
}
.bestsellers .item a {
  color: var(--color_white);
  display: block;
}
.bestsellers .item a:hover {
  color: var(--color_primary);
}
.bestsellers .item .item-image {
  display: block;
}
.bestsellers .item .item-image img {
  height: var(--max_size_m);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  display: block;
}
.bestsellers .item .item-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: var(--padding_l);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap_m);
}
@media (max-width: 767px) {
  .bestsellers .item .item-content {
    padding: var(--padding_m);
    top: 0;
  }
}
.bestsellers .item .item-content .item-title {
  font-size: var(--font_size_h3);
  margin: 0;
  color: var(--color_white);
}
@media (max-width: 767px) {
  .bestsellers .item .item-content .item-title {
    font-size: var(--font_size_h4);
  }
}
.bestsellers .item .item-content .item-footer {
  display: flex;
  align-items: center;
  gap: var(--gap_m);
}

.main-category {
  padding-top: var(--padding_l);
  padding-bottom: var(--padding_l);
  border-top: 1px solid var(--color_grey);
  border-bottom: 1px solid var(--color_grey);
}
@media (max-width: 767px) {
  .main-category {
    padding-top: var(--padding_m);
    padding-bottom: var(--padding_m);
  }
  .main-category .owl-carousel {
    padding: 0 !important;
    margin-left: calc(var(--padding_m) * -1);
    margin-right: calc(var(--padding_m) * -1);
    width: auto;
  }
  .main-category .owl-carousel .owl-prev {
    left: var(--padding_m) !important;
  }
  .main-category .owl-carousel .owl-next {
    right: var(--padding_m) !important;
  }
}
.section-category-hero .main-category {
  padding: 0;
  border: 0;
}
.section-category-hero .main-category .item .item-image {
  height: 100px;
  width: 100px;
}
.section-category-hero .main-category .item .item-image img {
  height: 100px;
  width: 100px;
}
.main-category .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap_m);
  text-align: center;
  color: var(--color_white);
}
@media (max-width: 767px) {
  .main-category .item {
    padding-left: calc(var(--padding_l) * 2);
    padding-right: calc(var(--padding_l) * 2);
  }
}
.main-category .item.active, .main-category .item:hover {
  color: var(--color_w);
}
.main-category .item.active .item-image, .main-category .item:hover .item-image {
  border-color: var(--color_primary);
}
.main-category .item.active .item-image img, .main-category .item:hover .item-image img {
  transform: scale(1);
}
.main-category .item .item-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  transition: all 1s var(--cubic_bezier);
  border: 1px solid transparent;
  overflow: hidden;
}
.main-category .item .item-image img {
  height: 160px;
  width: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1s var(--cubic_bezier);
  transform: scale(0.95);
}

.article-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap_m);
}
@media (max-width: 767px) {
  .article-items {
    display: flex;
  }
}
.article-items .article-item {
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}
.article-items .article-item .article-item-wrapper {
  border-radius: var(--radius);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  overflow: hidden;
  position: relative;
}
.article-items .article-item:hover .article-item-wrapper {
  border-color: var(--color_primary);
}
.article-items .article-item a {
  color: var(--color_black);
}
.article-items .article-item a:hover {
  color: var(--color_primary);
}
.article-items .article-item .article-info {
  flex: 1;
  padding: 13px;
  display: flex;
  flex-direction: column;
  gap: var(--gap_s);
  position: relative;
  margin-top: -1px;
  background-color: var(--color_white);
}
.article-items .article-item .article-excerpt {
  font-size: var(--font_size_p1);
  flex: 1;
}
.article-items .article-item .article-title {
  font-size: var(--font_size_h5);
  font-weight: bold;
}
.article-items .article-item .article-image {
  position: relative;
  line-height: 0;
}
.article-items .article-item .article-image img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 274px;
}
.article-items .article-item .article-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-footer,
.items-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-carousel:not(.bestsellers):not(.products) {
  padding-left: calc(var(--item_size) + var(--padding_m));
  padding-right: calc(var(--item_size) + var(--padding_m));
}
.owl-carousel:not(.bestsellers):not(.products) .owl-nav button.owl-next,
.owl-carousel:not(.bestsellers):not(.products) .owl-nav button.owl-prev {
  background-color: var(--color_secondary);
  border-color: var(--color_grey);
  color: var(--color_white);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.owl-carousel:not(.bestsellers):not(.products) .owl-nav button.owl-next:focus, .owl-carousel:not(.bestsellers):not(.products) .owl-nav button.owl-next:hover,
.owl-carousel:not(.bestsellers):not(.products) .owl-nav button.owl-prev:focus,
.owl-carousel:not(.bestsellers):not(.products) .owl-nav button.owl-prev:hover {
  border-color: var(--color_primary);
  background-color: var(--color_primary);
}
.owl-carousel:not(.bestsellers):not(.products) .owl-nav button.owl-prev {
  transform: translate(0, -50%) rotate(180deg);
}
.owl-carousel .owl-item {
  transition: all 0.5s ease;
  opacity: 1;
}
@media (min-width: 768px) {
  .owl-carousel .owl-item:not(.active) {
    visibility: hidden;
    opacity: 0;
  }
}
.owl-carousel .owl-stage {
  display: flex;
  flex-wrap: wrap;
}
.owl-carousel .owl-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--padding_s);
  gap: var(--gap_s);
  background: var(--color_primary);
  border-radius: var(--radius);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border: 1px solid var(--color_primary);
  color: var(--color_white);
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 1;
  padding: var(--padding_s) !important;
  background-color: var(--color_secondary);
  border-color: var(--color_grey);
}
.owl-carousel .owl-nav button.owl-next svg,
.owl-carousel .owl-nav button.owl-prev svg {
  line-height: 0;
  position: relative;
  margin: -1px 0;
}
.owl-carousel .owl-nav button.owl-next:focus, .owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: var(--color_secondary);
  color: var(--color_white);
}
.owl-carousel .owl-nav button.owl-next.button-secondary,
.owl-carousel .owl-nav button.owl-prev.button-secondary {
  background-color: var(--color_secondary);
  border-color: var(--color_grey);
  color: var(--color_white);
}
.owl-carousel .owl-nav button.owl-next.button-secondary:focus, .owl-carousel .owl-nav button.owl-next.button-secondary:hover,
.owl-carousel .owl-nav button.owl-prev.button-secondary:focus,
.owl-carousel .owl-nav button.owl-prev.button-secondary:hover {
  border-color: var(--color_primary);
  background-color: var(--color_primary);
}
.owl-carousel .owl-nav button.owl-next svg,
.owl-carousel .owl-nav button.owl-prev svg {
  margin: -1px;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: var(--color_primary);
  border-color: var(--color_primary);
}
.owl-carousel .owl-nav button.owl-next::before, .owl-carousel .owl-nav button.owl-next::after,
.owl-carousel .owl-nav button.owl-prev::before,
.owl-carousel .owl-nav button.owl-prev::after {
  display: none !important;
}
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled {
  opacity: 0.2 !important;
  cursor: default;
  background-color: var(--color_secondary) !important;
  border-color: var(--color_secondary) !important;
}
.owl-carousel .owl-nav button.owl-prev {
  left: 0;
  transform: rotate(180deg);
}
.owl-carousel .owl-nav button.owl-next {
  right: 0;
}
.owl-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap_m);
  position: relative;
  width: 60%;
  margin: var(--gap_m) auto 0;
}
@media (max-width: 767px) {
  .owl-carousel .owl-dots {
    margin: var(--gap_m) 0 0;
    width: auto;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
  }
}
.owl-carousel .owl-dots button.owl-dot {
  width: 12px;
  min-width: 12px;
  height: 12px;
  display: block;
  border-radius: 100%;
  background-color: var(--color_secondary);
  transition: all 0.3s ease;
}
.owl-carousel .owl-dots button.owl-dot:hover {
  background-color: var(--color_primary);
}
.owl-carousel .owl-dots button.owl-dot.active {
  background-color: var(--color_primary);
  cursor: default;
}

.wpcf7 .wpcf7-form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--gap_s);
  position: relative;
  margin: 0 auto;
  max-width: 444px;
}
@media (max-width: 767px) {
  .wpcf7 .wpcf7-form {
    grid-template-columns: 1fr;
  }
}
.wpcf7 .wpcf7-form.invalid .wpcf7-not-valid-tip {
  color: var(--color_error);
}
.wpcf7 .wpcf7-form.submitting {
  opacity: 0.5;
}
.section-subscribe .wpcf7 .wpcf7-form.submitting::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color_secondary);
  opacity: 0.5;
}
.wpcf7 .wpcf7-response-output {
  text-align: center;
  grid-column: span 2;
  color: var(--color_primary);
}
.wpcf7 .wpcf7-response-output:empty,
.wpcf7 .wpcf7-spinner,
.wpcf7 .screen-reader-response {
  display: none !important;
}
.wpcf7 .wpcf7-not-valid-tip {
  color: var(--color_error);
  display: none !important;
}
.wpcf7 .wpcf7-not-valid-tip + .wpcf7-not-valid-tip {
  display: none !important;
}
.wpcf7 .wpcf7-form-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--gap_m);
  position: relative;
}
.wpcf7 .wpcf7-submit {
  height: 56px;
}
.wpcf7 .wpcf7-form-control:not(.wpcf7-submit) {
  font-size: var(--font_size_p1);
  font-weight: 400;
  color: var(--color_black);
  background-color: var(--color_white);
  border-radius: var(--radius);
  border: 1px solid var(--color_white);
  line-height: 1;
  height: var(--item_size);
  width: 100%;
  display: block;
  font-family: var(--font);
  padding: var(--padding_s);
  transition: all 0.5s ease;
}
.wpcf7 .wpcf7-form-control:not(.wpcf7-submit)::-moz-placeholder {
  color: var(--color_black);
  font-family: var(--font);
  font-weight: 400;
}
.wpcf7 .wpcf7-form-control:not(.wpcf7-submit)::placeholder {
  color: var(--color_black);
  font-family: var(--font);
  font-weight: 400;
}
.section-subscribe .wpcf7 .wpcf7-form-control:not(.wpcf7-submit):not(:focus) {
  background-color: transparent;
  border-color: var(--color_grey);
  color: var(--color_white);
}
.section-subscribe .wpcf7 .wpcf7-form-control:not(.wpcf7-submit)::-moz-placeholder {
  color: var(--color_white);
}
.section-subscribe .wpcf7 .wpcf7-form-control:not(.wpcf7-submit)::placeholder {
  color: var(--color_white);
}
.section-subscribe .wpcf7 .wpcf7-form-control:not(.wpcf7-submit):focus::-moz-placeholder {
  color: var(--color_black);
}
.section-subscribe .wpcf7 .wpcf7-form-control:not(.wpcf7-submit):focus::placeholder {
  color: var(--color_black);
}
.wpcf7 .wpcf7-form-control:not(.wpcf7-submit).wpcf7-not-valid {
  color: var(--color_error);
  border-color: var(--color_error);
}
.wpcf7 .wpcf7-form-control:not(.wpcf7-submit).wpcf7-not-valid::-moz-placeholder {
  color: var(--color_error);
}
.wpcf7 .wpcf7-form-control:not(.wpcf7-submit).wpcf7-not-valid::placeholder {
  color: var(--color_error);
}
.wpcf7.sent .wpcf7-response-output {
  margin-top: var(--gap_m);
}

.category-title-container .page-title {
  margin: 0 0 -20px;
}

.mobile-call-back,
.mobile-cart {
  position: fixed;
  z-index: 999;
  background: var(--color_primary);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  bottom: -90px;
  display: block;
  padding: 0px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .mobile-call-back,
  .mobile-cart {
    display: none !important;
  }
}
.mobile-call-back > span,
.mobile-cart > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  color: var(--color_white);
  font-weight: bold;
}

.mobile-call-back {
  left: -90px;
}
.mobile-call-back > span {
  right: 20px;
  top: 25px;
}
.mobile-call-back > span::before {
  content: url("../images/call-back.svg");
  display: block;
  width: 30px;
  height: 30px;
  line-height: 0;
}

.woocommerce-pagination,
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--padding_m);
}
.woocommerce-pagination .page-numbers,
.pagination .page-numbers {
  list-style: none;
  padding: 0;
  margin: 0;
}
.woocommerce-pagination .prev,
.woocommerce-pagination .next,
.pagination .prev,
.pagination .next {
  display: none !important;
}
.woocommerce-pagination .nav-links,
.pagination .nav-links {
  display: flex;
  gap: 30px;
}
.woocommerce-pagination a,
.pagination a {
  color: var(--color_black_2);
}
.woocommerce-pagination .page-numbers,
.pagination .page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  border-radius: 5px;
  text-align: center;
  line-height: 1;
  gap: 15px;
}
.woocommerce-pagination .page-numbers.current,
.pagination .page-numbers.current {
  background-color: var(--color_secondary);
  color: var(--color_white);
  text-decoration: none;
}

.accordion-item:last-child .accordion-header {
  margin-bottom: 0;
}
.accordion-item:last-child:not(.active) .accordion-header {
  border-bottom: 0;
}
.accordion-item .accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
}
.accordion-item .accordion-header:hover {
  color: var(--color_primary);
}
.accordion-item .accordion-header:after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%208.0002H15M7.99805%201V15%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
  margin-left: 20px;
  line-height: 0;
  width: 1.5rem;
  height: 1.5rem;
}
.accordion-item .accordion-content {
  display: none;
  padding-top: 30px;
  padding-bottom: 30px;
}
.accordion-item.active .accordion-header:after {
  content: url("data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%222%22%20viewBox%3D%220%200%2016%202%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%201H15%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

.show-more {
  position: relative;
}
.has-show-more .show-more::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  align-items: flex-end;
}

.show-more-button a {
  color: var(--color_black);
}
.show-more-button a:hover {
  color: var(--color_primary);
}

.hidden {
  display: none !important;
}/*# sourceMappingURL=style.css.map */