@import 'mixin';

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.woocommerce-notices-wrapper {
    .woocommerce-message {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        padding: 15px 0;
        ;
        color: var(--color_primary);

        a {
            color: var(--color_primary);
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        &:first-child {
            margin-top: 0;
            padding-top: 0;
        }
    }
}

.categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    margin: 50px 0 0;

    @include m(mobile) {
        padding-bottom: 0;
        display: flex;
        gap: 25px;
        overflow: auto;
        white-space: nowrap;
        padding: 0 var(--container_padding);
        margin: 30px calc(var(--container_padding) * -1) 0;
        width: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .home & {
        margin-top: 50px;

        @include m(mobile) {
            margin-top: 30px;
        }
    }

    .category {
        position: relative;

        &.active {
            .subcategories {
                visibility: visible;
                opacity: 1;

                .item {
                    transform: scale(1);
                }
            }
        }

        img {
            width: 110px;
            min-width: 110px;
            object-fit: cover;
            aspect-ratio: 1;
            border-radius: 100%;

            @include m(mobile) {
                width: 80px;
                min-width: 80px;
            }
        }

        a {
            color: var(--color_link);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            text-transform: uppercase;
            font-weight: bold;

            &:hover {
                color: var(--color_primary);
            }
        }

        .subcategories {
            position: absolute;
            z-index: 100;
            left: 50%;
            transform: translate(-50%, 0);
            top: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all .5s ease;

            @include m(mobile) {
                display: none !important;
            }

            .subcategories-inner {
                position: relative;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: 15px;
                background-color: var(--color_white);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
                padding: 25px;
                border-radius: 16px;
                margin-top: 15px;

                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: -5px;
                    top: -5px;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid var(--color_white);
                    margin-left: -2.5px;
                }
            }

            .item {
                transform: scale(0);
                transition: all .3s ease;
                white-space: nowrap;
                gap: 15px;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: row;

                    span {
                        flex: 1;
                    }
                }

                img {
                    width: 40px;
                    height: 40px;
                    min-width: 40px;
                }
            }
        }
    }
}

.woocommerce {
    display: flex;
    flex-direction: column;

    .single_add_to_cart_button,
    .add_to_cart_button,
    .product_type_variable,
    .single_add_to_cart_button {
        background-color: var(--color_primary);
        color: var(--color_white);
        align-self: center;
        height: 53px;
        order: 40;

        &:hover {
            background-color: var(--color_secondary);
            color: var(--color_white);
            border-color: var(--color_secondary);
        }

        &.loading:not(.disabled) {
            font-size: 0;
            color: transparent;
            cursor: default;
            background-color: var(--color_primary) !important;
            border-color: var(--color_primary) !important;

            &::before {
                position: relative;
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                border: 2px solid var(--color_white);
                border-top: 4px solid transparent;
                border-radius: 50%;
                animation: spin 1s linear infinite;
            }
        }

        &.disabled {
            opacity: .3;
            background-color: var(--color_secondary) !important;
            color: var(--color_white) !important;
            border-color: var(--color_secondary) !important;
            cursor: default;
            display: none !important;

            +.added_to_cart {
                display: none !important;
            }
        }
    }

    .qib-button-wrapper {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        align-self: center;
        order: 3;

        input {
            &::-webkit-inner-spin-button {
                display: none !important;
            }
        }

        .quantity {
            .qty {
                border: 1px solid var(--color_black_2);
                border-radius: 5px;
                color: var(--color_primary);
                width: 40px;
                text-align: center;
                padding: 8px 0;
            }
        }

        .qib-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            height: 35px;
            width: 35px;
            min-width: 35px;
            border: 1px solid var(--color_black_2);
            background-color: var(--color_white);
            font-size: 26px;
            line-height: 1;
            color: var(--color_black_2);
            transition: all .5s ease;
            color: transparent;
            text-indent: -100px;
            font-size: 0;
            cursor: pointer;

            &::before {
                text-indent: 0;
                color: var(--color_black_2);
                display: inline-block;
                font: normal normal normal 10px / 1 FontAwesome;
                font-size: 14px;
                text-rendering: auto;
                transition: all .5s ease;
                position: relative;
                top: .5px;
            }

            &.plus {
                &::before {
                    content: "\f067";
                }
            }

            &.minus {
                &::before {
                    content: "\f068";
                }
            }

            &:hover {
                border-color: var(--color_primary);
                color: var(--color_white);

                &::before {
                    color: var(--color_primary);
                }
            }
        }
    }

    .woocommerce-form,
    .woocommerce-ResetPassword,
    .woocommerce-form-login {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;

        .clear {
            display: none !important;
        }
    }

    .form-row {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        float: none !important;
        flex: 1;
        width: 100% !important;

        >* {
            flex: 1 1 100%;
        }

        &::before,
        &::after {
            display: none !important;
        }

        label {
            color: var(--color_black);
        }

        .input-text {
            @include input();
        }

        .woocommerce-form__label {
            flex: 1 1 50%;
        }

        [type="submit"] {
            flex: 1 1 50%;
            background-color: var(--color_primary);
            color: var(--color_white);
            border-color: var(--color_primary);
        }
    }

    .lost_password {
        a {
            color: var(--color_primary);

            &:hover {
                text-decoration: underline
            }
        }
    }

    .woocommerce-form__label-for-checkbox {
        @include checkbox();
    }

    .password-input {

        .woocommerce-password-strength {
            color: var(--color_primary);
        }
    }

    .show-password-input {
        opacity: .7;

        &.display-password {
            opacity: 1;
            color: var(--color_primary);
        }

        &::before {
            display: inline-block;
            font: normal normal normal 14px / 1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
        }

        &::after {
            display: none !important;
        }
    }

    .show-password-input {
        right: 0 !important;

        &::before {
            content: "\f06e";
        }
    }

    .woocommerce-cart-form {
        padding: 0;
        margin: 0;

        .shop_table {
            thead {
                display: none !important;
            }
        }
    }

    .woocommerce-checkout-payment,
    .wc-proceed-to-checkout {

        #place_order,
        .checkout-button {
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.woocommerce-product-search {
    max-width: var(--max_size_m);
    margin: 0 auto;
    display: flex;
    gap: var(--gap_m);
    width: 100%;

    label {
        display: none !important;
    }
}

.badge {
    background-color: var(--color_yellow);
    border-radius: 4px;
    color: var(--color_white);
    line-height: 1;
    text-transform: uppercase;
    padding: 4px;
    position: absolute;
    left: var(--gap_m);
    top: var(--gap_m);
    font-size: var(--font_size_p2);
    text-align: center;
    min-width: 44px;

    &.badge-hit {
        background-color: var(--color_primary);
    }
}

.product-price,
.price {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: var(--font_size_h4);
    font-weight: bold;
    text-align: center;
    line-height: 1;
    margin: 0;
    gap: var(--gap_xs);
    color: var(--color_black);

    * {
        color: var(--color_black);
    }

    .price-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: var(--gap_xs);
    }

    del {
        color: var(--color_grey);
        font-size: var(--font_size_h5);
        font-weight: normal;
        position: relative;
        line-height: 1;

        * {
            color: var(--color_grey);
        }
    }

    ins,
    bdi {
        display: flex;
        align-items: flex-end;
        gap: var(--gap_xs);
        line-height: 1;
        position: relative;
        top: 2px;
    }

    ins {
        text-decoration: none;

        .sale & {
            * {
                color: var(--color_primary);
            }
        }
    }

    bdi {
        background-color: transparent;
    }

    .price-prefix,
    .price-suffix,
    .woocommerce-Price-currencySymbol {
        font-size: var(--font_size_p1);
        font-weight: 400;
        line-height: 1;
    }

    .woocommerce-Price-currencySymbol {
        position: relative;
        top: -2px;
    }
}

.search-result-info,
.woocommerce-result-count {
    display: none !important;
}

.woocommerce-ordering {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap_s);

    select {
        align-self: flex-end;
        width: auto !important;
    }
}

.category-side {
    > * + * {
        margin-top: var(--padding_s);
    }
}

.category-container {
    display: grid;
    grid-template-columns: 344px 1fr;
    gap: var(--gap_s);

    @include max1024 {
        grid-template-columns: 1fr;
    }
}

.products,
ul.products {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap_m);

    .category-main & {
        margin: 0 0 var(--padding_m);
    }

    @include tablet-p {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
        grid-template-columns: repeat(1, 1fr);
    }

    &::before,
    &::after {
        display: none !important;
    }

    .product,
    li.product {
        all: unset;
        background-color: var(--color_white);
        border-radius: var(--radius);
        position: relative;
        overflow: hidden;
        padding: var(--padding_s);
        display: flex;
        flex-direction: column;
        gap: var(--gap_s);
        border: 1px solid var(--color_white);
        transition: all .5s ease;

        &.product-brand {
            background-color: var(--color_black);
            padding: 0;

            @include tablet-p {
                grid-column: span 2;
            }

            .product-brand-link {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: var(--padding_l);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;

                @include max1024 {
                    height: calc(248px - (var(--padding_s) * 2));
                    padding: var(--padding_m);
                    align-items: flex-start;
                    justify-content: center;

                    @include mobile {
                        height: calc(148px - (var(--padding_m) * 2));
                    }
                }

                img {
                    max-width: 200px;

                    @include mobile {
                        max-width: 100px;
                    }
                }
            }

            .button-product-brand {
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                bottom: var(--padding_l);
                color: var(--color_white);

                @include max1024 {
                    transform: translate(0, -50%);
                    left: unset;
                    bottom: unset;
                    top: 50%;
                    right: var(--padding_m);
                }
            }
        }

        &:hover {
            border-color: var(--color_primary);
        }

        p {
            margin: 0;
            padding: 0;
        }

        a {
            color: var(--text_color);

            &:hover {
                text-decoration: none;
            }
        }

        .onsale {
            background-color: var(--color_yellow);
            border-radius: 4px;
            color: var(--color_white);
            line-height: 1;
            text-transform: uppercase;
            padding: 4px;
            position: absolute;
            left: var(--gap_m);
            top: var(--gap_m);
            font-size: var(--font_size_p2);
        }

        .price-cart-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--gap_s);
        }

        .woocommerce-loop-product {

            &__link {
                display: flex;
                flex-direction: column;
                gap: var(--gap_s);
                flex: 1;
            }

            &__title {
                font-size: var(--font_size_p1);
                color: var(--text_color);
                font-weight: 400;
                display: block;
                margin: 0;
                padding: 0;
            }
        }

        img {
            width: 100%;
            display: block;
        }

        .button {
            &.button-product-view {
                color: var(--color_white);
                align-self: flex-end;
            }
        }
    }
}

.woo-logged-in-account .woocommerce {
    @include m(desktop) {
        display: grid !important;
        grid-template-columns: 200px 1fr;
    }
}

.woocommerce-account {
    .woocommerce {

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        a:not(.button) {
            color: var(--color_black);

            &:hover {
                color: var(--color_primary);
            }
        }

        .woocommerce-MyAccount-navigation {
            .woocommerce-MyAccount-navigation-link {
                &.is-active {
                    a {
                        color: var(--color_primary);
                    }
                }
            }
        }

        .form-row {
            label {
                color: var(--color_grey_2);
            }
        }

        .select2-container {
            .select2-selection {
                background-color: transparent !important;
                border-radius: 0 !important;
                padding: 13.31px 0 !important;
                border-bottom: 1px solid var(--color_black);
            }
        }

        .woocommerce-EditAccountForm,
        .woocommerce-EditAccountForm fieldset,
        .woocommerce-address-fields__field-wrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .clear {
                display: none !important;
            }
        }

        .woocommerce-EditAccountForm fieldset {
            max-width: 500px;
            border: 0;
        }

        em {
            font-size: 14px;
            margin-bottom: 15px;
            display: block;
            font-style: normal;
        }

        legend {
            font-size: 25px;
            font-weight: bold;
            color: var(--color_black);
            padding: 15px 0;
            display: block;
        }

        .woocommerce-MyAccount-navigation,
        .woocommerce-MyAccount-content {
            width: auto !important;
        }

        .woocommerce-MyAccount-navigation {
            border-right: 1px solid var(--color_grey_3);
            padding-right: var(--container_padding);

            ul {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }

        .woocommerce-MyAccount-content {
            padding-left: var(--container_padding);

            @include m(mobile) {
                padding-left: 0;
                margin-top: 30px;
            }
        }

        .woocommerce-orders-table {

            thead {
                th {
                    font-weight: 400;

                    text-align: center;

                    &:first-child {
                        text-align: left;
                    }

                    &:last-child {
                        text-align: right;

                        span {
                            display: none;
                        }
                    }
                }
            }

            tbody {
                tr {

                    &:not(:last-child) {

                        >th,
                        >td {
                            border-bottom: 1px solid var(--color_grey_3);
                        }
                    }

                    >th,
                    >td {
                        text-align: center;
                        padding-top: 15px;
                        padding-bottom: 15px;

                        &:first-child {
                            text-align: left;
                        }

                        &:last-child {
                            text-align: right;
                        }
                    }
                }
            }
        }

        .order_details {
            width: 100%;
            border-collapse: collapse;
            margin: 30px 0;

            a {
                margin: 0;
            }

            .wc-item-meta {
                li {
                    display: flex;
                    gap: 5px;

                    p {
                        margin: 0;
                        color: var(--color_primary);
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
            }

            th {
                background-color: var(--color_grey_10);
                color: #333;
                padding: 15px;
                text-align: left;
                font-weight: bold;
            }

            td {
                padding: 15px;
                font-size: 14px;
                vertical-align: middle;
                border-bottom: 1px solid #eee;
            }

            .woocommerce-table__product-name a {
                color: var(--color_primary);
                text-decoration: none;
                font-weight: bold;
                display: block;
                margin-bottom: 15px;
                font-size: 20px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .product-quantity {}

            .wc-item-meta-label {
                color: var(--color_black);
            }

            .woocommerce-Price-amount {
                font-size: 16px;
                color: var(--color_primary);
                font-weight: bold;
                font-size: 25px;
            }

            tfoot {
                &:not(:last-child) {
                    display: none;
                }

                td {
                    text-align: right;
                }
            }
        }
    }
}

.variation-swatches-container {
    margin: 0;
    padding: 0;
    align-self: center;
    order: 2;

    .variation-swatches-label {
        position: relative;
        font-size: 30px;
        color: var(--color_black_2);
    }

    .variation-swatches-attribute {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 15px;

        .variation-swatches-options {
            display: flex;
            overflow: hidden;
            border: 2px solid var(--color_primary);
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
        }

        .variation-swatch-button {
            color: var(--color_primary);
            background-color: var(--color_white);
            border: 0;
            padding: 8px 20px;
            font-size: 18px;
            transition: all .5s ease;

            &.active {
                background-color: var(--color_primary);
                color: var(--color_white);
            }

            &:not(.active) {
                cursor: pointer;
            }
        }
    }
}

.woocommerce-notices-wrapper {
    outline: none !important;

    .woocommerce-message {
        outline: none !important;
    }

    &:empty {
        display: none !important;
    }
}

.woocommerce-error {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 15px 0;

    li {
        color: var(--color_error);

        a {
            color: var(--color_error) !important;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.select2-container {
    display: block !important;

    select {
        display: none !important;
    }

    &.select2-container--open {
        .select2-selection__rendered {
            color: var(--color_secondary);
        }

        .select2-selection__arrow {
            transform: rotate(180deg);
        }
    }

    .select2-results {
        display: block;
    }

    .select2-search {
        display: block !important;
        padding: 5px 0 0 !important;
        margin: 0 -25px 0;

        &.select2-search--hide {
            display: none !important;
        }

        &:not(.select2-search--hide) {
            +.select2-results {
                ul {
                    padding-top: 15px;
                }
            }
        }

        .select2-search__field {
            border: 0 !important;
            border-bottom: 1px solid var(--color_grey_6) !important;
            border-radius: 0 !important;
            padding: 10px 25px;
            background-color: var(--color_white) !important;
            width: 100%;
            display: block;
        }
    }

    .select2-selection {
        display: flex;
        align-items: center;
        gap: 15px;
        background-color: var(--color_grey_8) !important;
        border-radius: 25px !important;
        color: var(--color_black);
        cursor: pointer;
        padding: 10px 25px !important;

        .select2-selection__rendered {
            padding: 0 !important;
            flex: 1;
            position: relative;
        }

        .select2-selection__arrow {
            transition: all .3s ease;
            position: relative;
            width: auto !important;
            top: 1px;
            height: unset !important;

            &::before {
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 0;
                content: url('../images/arrow.svg');
            }

            b {
                display: none !important;
            }
        }
    }

    .select2-dropdown {
        z-index: 999;
        position: absolute !important;
        background-color: var(--color_white);
        border-radius: 8px;
        border: 1px solid var(--color_grey_6) !important;
        padding: 0 25px 25px;
        margin-top: 10px;

        .select2-results__option {
            color: var(--color_black);
            border-radius: 8px !important;
            padding: 5px 10px;
            cursor: pointer;
            align-self: flex-start;
            line-height: 1;
            transition: all .3s ease;

            &--highlighted {
                background-color: var(--color_primary) !important;
                color: var(--color_white) !important;
            }
        }

        .select2-results {
            ul {
                display: flex;
                flex-direction: column;
                padding: 15px 10px 10px;
                margin: 0 -25px -25px;
                list-style: none;
                overflow-y: auto;
                max-height: 300px;

                li {
                    span {
                        opacity: 1 !important;
                    }
                }
            }
        }
    }
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.woocommerce-cart-form {

    [name="update_cart"] {
        display: none !important;
    }

    .cart {
        position: relative;

        &.loading {
            &::before {
                content: '';
                display: block;
                position: absolute;
                z-index: 999;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    table.cart,
    table.cart td {
        display: block !important;
    }

    table.cart td {
        &.actions {
            display: flex !important;
            gap: 30px;
            flex-direction: column;
            align-items: center;
            text-align: center !important;

            @include m(mobile) {

                .button {
                    width: 100%;
                }
            }
        }
    }

    table.cart tbody {
        display: flex !important;
        flex-direction: column;
    }

    tr,
    .cart_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 15px 0;
        position: relative;

        @include m(mobile) {
            flex-wrap: wrap;
            padding: 30px 0;
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--color_grey_8);
        }

        &:last-child {
            &:not(.cart_item) {
                .actions {
                    width: 100%;
                }
            }
        }

        img {
            width: 100px;
            min-width: 100px;
            height: 100px;
            height: auto;
            object-fit: cover;
            aspect-ratio: 1;
            border-radius: 16px;
        }

        .product-thumbnail {

            @include m(mobile) {
                width: 100px;
            }
        }

        .product-name {
            flex: 1;
            text-align: left;

            @include m(desktop) {
                display: flex !important;
                flex-direction: column;
                gap: 10px;

                a {
                    font-size: 25px;
                }

                >* {
                    margin: 0;
                }
            }

            @include m(mobile) {
                width: calc(100% - 115px);
            }

            a {
                color: var(--color_black);
                text-decoration: none;

                &:hover {
                    color: var(--color_primary);
                    text-decoration: underline;
                }
            }

            .variation {
                margin-bottom: 0;

                * {
                    margin: 0;
                    padding: 0;
                }

                display: flex;
                gap: 5px;

                dt,
                dd {
                    display: block;
                }

                dt {
                    font-weight: 400;
                    color: var(--color_black);
                }

                dd {
                    color: var(--color_primary);
                    font-weight: bold;
                }
            }
        }

        .product-price {
            color: var(--color_black);
            font-size: 18px;
        }

        .product-subtotal {
            color: var(--color_primary);
            font-weight: bold;
            text-align: center;

            @include m(desktop) {
                min-width: 150px;
            }

            @include m(mobile) {
                width: 100%;
                flex: 1;
                text-align: right;
            }
        }

        .product-remove {

            @include m(mobile) {
                position: absolute;
                right: 0;
                top: 15px;
            }

            .remove {
                i {
                    background-color: transparent;
                    color: var(--color_primary);
                    border: 2px solid transparent;
                    margin: 0;

                    @include m(mobile) {
                        border-color: var(--color_primary);
                    }
                }

                &:hover {
                    i {
                        border-color: var(--color_primary);
                    }
                }
            }
        }
    }

    .coupon {
        float: none !important;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 650px;
        margin: 0 auto;
        gap: 15px;
        align-items: center;
        width: 100%;

        .coupon-error-notice {
            color: var(--color_error);
            text-align: left;

            @include m(mobile) {
                text-align: center;
            }
        }

        p {
            flex: 1;
            width: 100%;
            margin: 0;
        }

        input {
            @include input();
            flex: 1;
        }

        @include m(mobile) {
            display: flex;
            flex-direction: column;
            gap: 15px;

            >* {
                width: 100% !important;
            }

            &::before,
            &::after {
                display: none;
            }
        }
    }
}

.woocommerce-checkout {

    .woocommerce {

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        a:not(.button) {
            color: var(--color_black);
            text-decoration: underline;

            &:hover {
                color: var(--color_primary);
                text-decoration: none;
            }
        }
    }

    .woocommerce-NoticeGroup {
        .woocommerce-error {
            color: var(--color_primary);
        }
    }

    form.woocommerce-checkout {

        h3 {
            &:first-child {
                margin-top: 0;
            }
        }

        >*:not(.col2-set):not(.woocommerce-checkout-review-order) {
            grid-column: span 2;
        }

        @include m(desktop) {
            display: grid;
            grid-template-columns: 1fr 40%;
            gap: 30px 50px;
        }
    }

    .woocommerce-account-fields {
        margin-top: 30px;
    }

    .woocommerce-form-coupon-toggle {
        margin-bottom: 30px;
    }

    .woocommerce-form-coupon {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 50px;
        max-width: 600px;

        @include m(mobile) {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 30px;
        }

        p {
            flex: 1 1 100%;
            margin: 0;
        }

        .form-row-first {
            order: 1;
            flex: 0 0 calc(60% - 30px);
        }

        .form-row-last {
            order: 2;
            flex: 0 0 40%;
        }

        .clear {
            display: none !important;
        }
    }

    .woocommerce-billing-fields__field-wrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .form-row {
        label {
            color: var(--color_grey_2);
        }

        &.woocommerce-invalid {

            .select2-container {
                .select2-selection {
                    border-color: var(--color_error);
                    color: var(--color_error);
                }
            }

            label {
                color: var(--color_error);
            }

            .input-text {
                border-color: var(--color_error);

                &::placeholder {
                    color: var(--color_error);
                }
            }
        }
    }

    .select2-container {
        .select2-selection {
            background-color: transparent !important;
            border-radius: 0 !important;
            padding: 13.31px 0 !important;
            border-bottom: 1px solid var(--color_black);
        }
    }

    .col2-set {
        .col-1 {
            width: 100% !important;
            float: none !important;
        }

        .col-2 {
            display: none !important;
        }
    }

    #order_review_heading {
        display: none !important;
    }

    .place-order,
    .woocommerce-checkout-payment,
    .woocommerce-checkout-review-order {
        display: flex;
        flex-direction: column;
        gap: 30px;
        flex-wrap: nowrap;
        align-items: unset;
    }

    .woocommerce-checkout-payment {
        border-top: 1px solid var(--color_grey_8);
        padding-top: 30px;
    }

    .woocommerce-privacy-policy-text {
        font-size: 14px;
    }

    table.woocommerce-checkout-review-order-table,
    table.woocommerce-checkout-review-order-table td {
        display: block !important;
    }

    table.woocommerce-checkout-review-order-table tbody {
        display: flex !important;
        flex-direction: column;
    }

    .woocommerce-checkout-review-order-table {
        display: flex;

        .variation,
        thead {
            display: none !important;
        }

        .cart_item {
            display: flex;
            align-items: center;
            padding: 15px 0;
            gap: 15px;

            &:not(:last-child) {
                border-bottom: 1px solid var(--color_grey_8);
            }

            .product-name {

                flex: 1;

                >.product-quantity {
                    display: none !important;
                }
            }

            .product-total {
                color: var(--color_primary);
                font-weight: bold;
                text-align: center;
            }
        }

        .checkout-product-wrapper {

            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            color: var(--color_black);

            .product-image {

                img {
                    width: 100px;
                    min-width: 100px;
                    height: 100px;
                    height: auto;
                    -o-object-fit: cover;
                    object-fit: cover;
                    aspect-ratio: 1;
                    border-radius: 16px;
                }
            }

            .product-details {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .product-quantity,
                .variation-item {
                    span {
                        color: var(--color_primary);
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
            }
        }

        tfoot {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 15px;

            tr {
                display: flex;
                align-items: center;
                gap: 15px;

                &.shipping {
                    flex-direction: column;
                    align-items: flex-start;
                    text-align: left;

                    .woocommerce-shipping-methods {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        >li {
                            @include checkbox();
                        }
                    }
                }
            }

            th {
                display: block;
                flex: 1;
                color: var(--color_black);
                text-align: left;
            }

            td {
                display: block;
                color: var(--color_black);
            }

            .amount {
                color: var(--color_primary);
            }

            .cart-subtotal {
                font-weight: bold;
            }

            .order-total {
                font-weight: bold;
            }
        }
    }

    .payment_methods {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .wc_payment_method {

            @include checkbox();

            flex-wrap: wrap;
            gap: 15px;

            label {
                width: 100%;
                flex: 1 1 100%;
                color: var(--color_black);
            }

            .payment_box {
                font-size: 14px;
                width: 100%;
                flex: 1 1 100%;
            }
        }
    }
}

.woocommerce-info {
    a {
        color: var(--color_primary);
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.woocommerce-order {
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-bottom: 50px;

    >p {
        &:not(.woocommerce-notice) {
            display: none !important;
        }
    }

    .order-steps {
        order: 1;
    }

    >* {
        order: 40;
    }

    .woocommerce-notice {
        color: var(--color_primary);
        font-size: 25px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 0;
    }

    ul.woocommerce-order-overview {
        border: 2px solid var(--color_primary);
        border-radius: 16px;
        align-self: center;
        padding: 30px;

        li {
            color: var(--color_black);

            span {
                color: var(--color_primary);
            }
        }
    }
}

.cart-collaterals {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .minimum-order-message {
        color: var(--color_primary);
        text-align: center;
        font-weight: bold;
        margin-top: 15px;
    }

    .cart_totals {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 100% !important;

        h2 {
            margin: 0;
            font-size: 30px;
            color: var(--color_black);

            @include m(mobile) {
                font-size: 20px;
            }
        }

        td {
            display: block !important;
            background-color: transparent !important;
        }

        tbody {
            display: flex !important;
            flex-direction: column;
            gap: 15px;
        }

        tr {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            text-align: center;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        th {
            color: var(--color_black);
        }

        td {
            color: var(--color_primary);
            font-weight: bold;
        }

        .order-total {
            font-size: 40px;

            @include m(mobile) {
                font-size: 20px;
            }
        }

        a:not(.button) {
            color: var(--color_black);
            text-decoration: underline;

            &:hover {
                color: var(--color_primary);
                text-decoration: none;
            }
        }

        .shipping {
            display: flex;
            flex-direction: column;
            gap: 15px;
            text-align: center;

            th {
                font-size: 30px;
                color: var(--color_black);
            }

            p {
                margin: 0;
                padding: 0;
            }
        }

        h2,
        .shipping,
        .cart-subtotal {
            display: none !important;
        }
    }
}

.wc-proceed-to-checkout {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;

    @include m(mobile) {
        flex-direction: column;
    }

    .continue-shopping {
        order: 1;
    }

    .checkout-button {
        order: 2;
    }

    a {
        @include m(mobile) {
            display: block;
            width: 100%;
        }
    }
}

.woocommerce-shipping-calculator {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.shipping-calculator-form {
    >* {
        +* {
            margin-top: 15px;
        }
    }
}

.button {
    &.checkout-button {
        background-color: var(--color_primary);
        border-color: var(--color_primary);
        color: var(--color_white);

        &.disabled {
            background-color: var(--color_grey_2);
            border-color: var(--color_grey_2);
            cursor: default;

            &:hover {
                transform: scale(1);
            }
        }
    }

    &.continue-shopping {
        background-color: var(--color_primary);
        border-color: var(--color_primary);
        color: var(--color_white);
    }
}